nav ul li .emplactive {
  color: #ffa500;
}

.username {
  position: fixed;
  top: 100px;
  left: 150px;
  color: #fff;
  background-color: #ffa500;
  border-radius: 10px;
  padding: 5px;
  z-index: 3;
}
