* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

main {
  display: block;
  text-align: center;
}
form {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
}

.form-input {
  margin: 10px auto;
}
